ipcache
*.ip_user_files
*.dcp
*.cache
*.data
*.xpr
*.log
*.bld
*.chk
*.cmd_log
*.cxt
*.gise
*.gyd
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.tspec
*.vm6
*.xst
*.html
*.xrpt
*.err
*_html
*.sld
*.txt
*.qsys
*.csv
xst
netgen
iseconfig
xlnx_auto*
_ngo
_xmsgs
component.xml
*.jou
xgui
*.runs
*.srcs
*.sdk
.Xil
*_INFO.txt
*_dump.txt
db
*.asm.rpt
*.done
*.eda.rpt
*.fit.*
*.map.*
*.sta.*
*.qsf
*.qpf
*.qws
*.sof
*.rbf
system_qsys_script.tcl
hc_output
hps_isw_handoff
hps_sdram_*.csv
incremental_db
system_bd/
reconfig_mif
*.sopcinfo
*.jdi
*.pin
*.os
*webtalk*
*.xml
*.hw
gui
.timestamp_intel
temporary_case_dependencies.mk
*.zip
*.str
*.vcd
*.wlf
transcript
tags
boot_bin
_info
_vmake
*.qdb
*.qpg
*.qtl
*.xpe
*.gen*
*.xsa
*.pdi
library/**/bd/bd.tcl
*.syn.smsg
*.syn.summary
qdb
tmp-clearbox
*.bin
__pycache__
_build
.qsys_edit
.github/CODEOWNERS
.github/PULL_REQUEST_TEMPLATE.md
library/**/.lock
library/**/interfaces/*.sv
