*.cache
*.data
*.xpr
*.log
component.xml
*.jou
xgui
*.runs
*.srcs
*.sdk
.Xil
*_INFO.txt
*_dump.txt
db
*.asm.rpt
*.done
*.eda.rpt
*.fit.*
*.map.*
*.sta.*
*.qsf
*.qpf
*.qws
*.sof
hc_output
hps_isw_handoff
hps_sdram_*.csv
incremental_db
reconfig_mif
*.sopcinfo
*.jdi
*.pin
*.os
*webtalk*


