* text=auto

*.c text
*.h text
*.prj
*.tcl text
*.txt text
*.ucf text
*.v text
*.vhd text
*.xdc text
*.xml text
*.qsys text
*.xise text
Makefile text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
