NET   "ddr3_addr[0]"                           LOC = "E10"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[10]"                          LOC = "D6"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[11]"                          LOC = "B7"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[12]"                          LOC = "H12"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[13]"                          LOC = "A10"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[1]"                           LOC = "B9"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[2]"                           LOC = "E11"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[3]"                           LOC = "A9"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[4]"                           LOC = "D11"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[5]"                           LOC = "B6"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[6]"                           LOC = "F9"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[7]"                           LOC = "E8"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[8]"                           LOC = "B10"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_addr[9]"                           LOC = "J8"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_ba[0]"                             LOC = "F8"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_ba[1]"                             LOC = "H7"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_ba[2]"                             LOC = "A7"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_cas_n"                             LOC = "E7"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_ck_n[0]"                           LOC = "F10"   |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH        ;
NET   "ddr3_ck_p[0]"                           LOC = "G10"   |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH        ;
NET   "ddr3_cke[0]"                            LOC = "D10"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_cs_n[0]"                           LOC = "J11"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[0]"                             LOC = "J3"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[1]"                             LOC = "F2"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[2]"                             LOC = "E1"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[3]"                             LOC = "C2"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[4]"                             LOC = "L12"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[5]"                             LOC = "G14"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[6]"                             LOC = "C16"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dm[7]"                             LOC = "C11"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[0]"                             LOC = "L1"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[10]"                            LOC = "H6"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[11]"                            LOC = "H3"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[12]"                            LOC = "G1"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[13]"                            LOC = "H2"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[14]"                            LOC = "G5"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[15]"                            LOC = "G4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[16]"                            LOC = "E2"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[17]"                            LOC = "E3"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[18]"                            LOC = "D4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[19]"                            LOC = "E5"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[1]"                             LOC = "L2"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[20]"                            LOC = "F4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[21]"                            LOC = "F3"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[22]"                            LOC = "D1"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[23]"                            LOC = "D3"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[24]"                            LOC = "A2"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[25]"                            LOC = "B2"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[26]"                            LOC = "B4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[27]"                            LOC = "B5"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[28]"                            LOC = "A3"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[29]"                            LOC = "B1"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[2]"                             LOC = "K5"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[30]"                            LOC = "C1"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[31]"                            LOC = "C4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[32]"                            LOC = "K10"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[33]"                            LOC = "L9"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[34]"                            LOC = "K12"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[35]"                            LOC = "J9"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[36]"                            LOC = "K11"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[37]"                            LOC = "L10"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[38]"                            LOC = "J10"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[39]"                            LOC = "L7"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[3]"                             LOC = "J4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[40]"                            LOC = "F14"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[41]"                            LOC = "F15"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[42]"                            LOC = "F13"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[43]"                            LOC = "G16"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[44]"                            LOC = "G15"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[45]"                            LOC = "E12"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[46]"                            LOC = "D13"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[47]"                            LOC = "E13"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[48]"                            LOC = "D15"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[49]"                            LOC = "E15"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[4]"                             LOC = "K1"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[50]"                            LOC = "D16"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[51]"                            LOC = "E16"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[52]"                            LOC = "C17"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[53]"                            LOC = "B16"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[54]"                            LOC = "D14"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[55]"                            LOC = "B17"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[56]"                            LOC = "B12"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[57]"                            LOC = "C12"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[58]"                            LOC = "A12"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[59]"                            LOC = "A14"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[5]"                             LOC = "L3"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[60]"                            LOC = "A13"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[61]"                            LOC = "B11"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[62]"                            LOC = "C14"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[63]"                            LOC = "B14"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[6]"                             LOC = "J5"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[7]"                             LOC = "K6"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[8]"                             LOC = "G6"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dq[9]"                             LOC = "H4"    |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[0]"                          LOC = "K2"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[1]"                          LOC = "H1"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[2]"                          LOC = "D5"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[3]"                          LOC = "A4"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[4]"                          LOC = "K8"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[5]"                          LOC = "F12"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[6]"                          LOC = "E17"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_n[7]"                          LOC = "A15"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[0]"                          LOC = "K3"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[1]"                          LOC = "J1"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[2]"                          LOC = "E6"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[3]"                          LOC = "A5"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[4]"                          LOC = "L8"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[5]"                          LOC = "G12"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[6]"                          LOC = "F17"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_dqs_p[7]"                          LOC = "B15"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH        ;
NET   "ddr3_odt[0]"                            LOC = "G7"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_ras_n"                             LOC = "H11"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
NET   "ddr3_reset_n"                           LOC = "G17"   |     IOSTANDARD = LVCMOS15             |     VCCAUX_IO = HIGH        ;
NET   "ddr3_we_n"                              LOC = "F7"    |     IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH        ;
