
NET rx_clk_in_p         LOC = K26  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## G6   FMC_LPC_LA00_CC_P
NET rx_clk_in_n         LOC = K27  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## G7   FMC_LPC_LA00_CC_N
NET rx_frame_in_p       LOC = F31  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## D8   FMC_LPC_LA01_CC_P
NET rx_frame_in_n       LOC = E31  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## D9   FMC_LPC_LA01_CC_N
NET rx_data_in_p[0]     LOC = G31  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## H7   FMC_LPC_LA02_P
NET rx_data_in_n[0]     LOC = H30  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## H8   FMC_LPC_LA02_N
NET rx_data_in_p[1]     LOC = J31  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## G9   FMC_LPC_LA03_P
NET rx_data_in_n[1]     LOC = J32  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## G10  FMC_LPC_LA03_N
NET rx_data_in_p[2]     LOC = K28  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## H10  FMC_LPC_LA04_P
NET rx_data_in_n[2]     LOC = J29  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## H11  FMC_LPC_LA04_N
NET rx_data_in_p[3]     LOC = H34  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## D11  FMC_LPC_LA05_P
NET rx_data_in_n[3]     LOC = H33  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## D12  FMC_LPC_LA05_N
NET rx_data_in_p[4]     LOC = K33  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## C10  FMC_LPC_LA06_P
NET rx_data_in_n[4]     LOC = J34  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## C11  FMC_LPC_LA06_N
NET rx_data_in_p[5]     LOC = G32  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## H13  FMC_LPC_LA07_P
NET rx_data_in_n[5]     LOC = H32  |  IOSTANDARD = LVDS_25  | DIFF_TERM = TRUE; ## H14  FMC_LPC_LA07_N
NET tx_clk_out_p        LOC = J30  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## G12  FMC_LPC_LA08_P
NET tx_clk_out_n        LOC = K29  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## G13  FMC_LPC_LA08_N
NET tx_frame_out_p      LOC = L25  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## D14  FMC_LPC_LA09_P
NET tx_frame_out_n      LOC = L26  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## D15  FMC_LPC_LA09_N
NET tx_data_out_p[0]    LOC = D31  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## H16  FMC_LPC_LA11_P
NET tx_data_out_n[0]    LOC = D32  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## H17  FMC_LPC_LA11_N
NET tx_data_out_p[1]    LOC = E32  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## G15  FMC_LPC_LA12_P
NET tx_data_out_n[1]    LOC = E33  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## G16  FMC_LPC_LA12_N
NET tx_data_out_p[2]    LOC = D34  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## D17  FMC_LPC_LA13_P
NET tx_data_out_n[2]    LOC = C34  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## D18  FMC_LPC_LA13_N
NET tx_data_out_p[3]    LOC = F30  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## C14  FMC_LPC_LA10_P
NET tx_data_out_n[3]    LOC = G30  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## C15  FMC_LPC_LA10_N
NET tx_data_out_p[4]    LOC = C33  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## C18  FMC_LPC_LA14_P
NET tx_data_out_n[4]    LOC = B34  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## C19  FMC_LPC_LA14_N
NET tx_data_out_p[5]    LOC = C32  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## H19  FMC_LPC_LA15_P
NET tx_data_out_n[5]    LOC = B32  |  IOSTANDARD = LVDS_25  | SLEW = FAST;      ## H20  FMC_LPC_LA15_N

NET spi_csn             LOC = L33  |  IOSTANDARD = LVCMOS25;                    ## D26  FMC_LPC_LA26_P
NET spi_clk             LOC = M32  |  IOSTANDARD = LVCMOS25;                    ## D27  FMC_LPC_LA26_N
NET spi_mosi            LOC = R31  |  IOSTANDARD = LVCMOS25;                    ## C26  FMC_LPC_LA27_P
NET spi_miso            LOC = R32  |  IOSTANDARD = LVCMOS25;                    ## C27  FMC_LPC_LA27_N

NET gpio_status[0]      LOC = P29  |  IOSTANDARD = LVCMOS25;                    ## G21  FMC_LPC_LA20_P
NET gpio_status[1]      LOC = R29  |  IOSTANDARD = LVCMOS25;                    ## G22  FMC_LPC_LA20_N
NET gpio_status[2]      LOC = R26  |  IOSTANDARD = LVCMOS25;                    ## H25  FMC_LPC_LA21_P
NET gpio_status[3]      LOC = T26  |  IOSTANDARD = LVCMOS25;                    ## H26  FMC_LPC_LA21_N
NET gpio_status[4]      LOC = N27  |  IOSTANDARD = LVCMOS25;                    ## G24  FMC_LPC_LA22_P
NET gpio_status[5]      LOC = P27  |  IOSTANDARD = LVCMOS25;                    ## G25  FMC_LPC_LA22_N
NET gpio_status[6]      LOC = R28  |  IOSTANDARD = LVCMOS25;                    ## D23  FMC_LPC_LA23_P
NET gpio_status[7]      LOC = R27  |  IOSTANDARD = LVCMOS25;                    ## D24  FMC_LPC_LA23_N
NET gpio_ctl[0]         LOC = N32  |  IOSTANDARD = LVCMOS25;                    ## H28  FMC_LPC_LA24_P
NET gpio_ctl[1]         LOC = P32  |  IOSTANDARD = LVCMOS25;                    ## H29  FMC_LPC_LA24_N
NET gpio_ctl[2]         LOC = P31  |  IOSTANDARD = LVCMOS25;                    ## G27  FMC_LPC_LA25_P
NET gpio_ctl[3]         LOC = P30  |  IOSTANDARD = LVCMOS25;                    ## G28  FMC_LPC_LA25_N
NET gpio_en_agc         LOC = M30  |  IOSTANDARD = LVCMOS25;                    ## H22  FMC_LPC_LA19_P
NET gpio_sync           LOC = N30  |  IOSTANDARD = LVCMOS25;                    ## H23  FMC_LPC_LA19_N
NET gpio_resetb         LOC = N33  |  IOSTANDARD = LVCMOS25;                    ## H31  FMC_LPC_LA28_P
NET gpio_enable         LOC = A33  |  IOSTANDARD = LVCMOS25;                    ## G18  FMC_LPC_LA16_P
NET gpio_txnrx          LOC = B33  |  IOSTANDARD = LVCMOS25;                    ## G19  FMC_LPC_LA16_N

NET "rx_clk_in_p" TNM_NET = "rx_clk_in_p";
TIMESPEC "TS_rx_clk_in_p" = PERIOD "rx_clk_in_p" 250 MHz;
NET "rx_clk_in_n" TNM_NET = "rx_clk_in_n";
TIMESPEC "TS_rx_clk_in_n" = PERIOD "rx_clk_in_n" 250 MHz;

OFFSET = IN BEFORE "rx_clk_in_p" RISING;
OFFSET = IN BEFORE "rx_clk_in_p" FALLING;

OFFSET = OUT AFTER "rx_clk_in_p" REFERENCE_PIN "tx_clk_out_p" RISING;
OFFSET = OUT AFTER "rx_clk_in_p" REFERENCE_PIN "tx_clk_out_p" FALLING;

