sphinx
regex
lxml
furo
wavedrom
aiohttp
aiodns
sphinxcontrib-wavedrom
sphinxcontrib-svg2pdfconverter
https://github.com/hdl/pyhdlparser/tarball/master
https://github.com/hdl/symbolator/tarball/master
